
# Environment files
.env
*.env
!.env.example

# Dependencies
node_modules
v-env
yarn.lock

# IDE files
.idea
.DS_Store

# Build files
*.bak
aws_cf_deploy_anything_llm.json

# Logs
*.log
logs/
server.log
server/*.log

# Database files
*.db
*.sqlite
*.sqlite3

# Security files
*.key
*.pem
*.p12
*secret*
*credential*

# Python
__pycache__
